.skeleton-loader {
  animation: fading 1.5s infinite;
}

.skeleton-loader.entities {
  pointer-events: none;
  overflow: hidden;
  height: 100%;
}

.skeleton-loader.entities.scroll {
  height: auto;
}

.skeleton-loader p {
  height: 0.8125rem;
  background-color: var(--translation-secondary-color);
  padding-bottom: 3px;
}

.skeleton-loader .text-2 {
  width: 50%;
  display: inline-block;
}

/* Machinery skeleton */

.machinery-skeleton {
  list-style: none;
  padding: 0;
  margin: 0;
}

.machinery-skeleton .translation p {
  background-color: var(--translation-secondary-color);
}

.machinery-skeleton .translation p.suggestion {
  width: 75%;
}

.machinery-skeleton .translation header .skeleton-bar {
  background-color: var(--translation-secondary-color);
  display: inline-block;
  height: 0.6875rem;
  width: 40%;
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;
  }
}
